@charset "utf-8";
@import url('assets/googleapi/Press+Start+2P.css');

@font-face {
  font-family: 'pixel';
  src: url('/theme/malio/fonts/pixel.ttf');
}

#nescss>.container {
  max-width: 980px;
  margin: 0 auto;
  margin-top: 150px;
}

main p {
  font-size: 1.2rem;
}

h2 {
  font-size: 1.6rem;
}

/* Header */
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  border-bottom: 4px solid #D3D3D3;
  background-color: white;
}

header>.container {
  display: flex;
  align-items: baseline;
  max-width: 980px;
  margin: 0 20px;
  padding-top: 1rem;
  transition: all 0.2s ease;
}

header>.container>.nav-brand {
  margin-right: auto;
}

.nav-brand .brand-logo {
  margin-right: 1rem;
}

.nav-brand>a {
  color: #212529;
  text-decoration: none;
}

/* Footer */
footer {
  text-align: center;
  margin-bottom: 2rem;
}

footer a {
  color: #333;
  text-decoration: none;
}

h2>a {
  margin-right: 1rem;
}

.topic {
  margin-bottom: 3rem;
  font-family: "Nunito", "Segoe UI", arial;
}

/* Containers */
.item.containers>.nes-container {
  display: inline-block;
  max-width: 400px;
}


/* Topic */
h3.topic-title {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

h3.topic-title>i {
  margin-right: 1.5rem;
}

@media screen and (max-width: 768px) {
  body {
    margin: 2rem 0.5rem;
    padding: 0;
  }

  header>.container {
    margin: 0 20px;
  }

  .github-link {
    display: none;
  }

  .message-list>.message>.nes-balloon {
    max-width: 60%;
  }
}

